/* basic css */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

:root {
    --primaryColor: rgb(25, 25, 112);
    --secondaryColor: rgba(7, 10, 44, 255);
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.images {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 450px;
    max-width: 100%;
}

body {
    text-align: justify;
    /* background: url(../images/fondo.png); */
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* navbar start */

.navbar ul {
    display: flex;
}

.navbar ul li {
    transition: 0.3s;
}

.navbar ul li a {
    display: inline;
    position: relative;
    align-content: right;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    color: #000;
    text-transform: capitalize;
    transition: 0.5s;
}

.navbar ul:hover li a {
    transform: scale(0.6);
    opacity: 0.2;
    filter: blur(2px);
}

.navbar ul li a:hover {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    border-radius: 25px;
    transition: 0.1s;
    transform-origin: bottom;
    transform: scaleX(0);
    z-index: -1;
}

.navbar ul li a:hover:before {
    transition: transform 0.5s;
    transform: scaleX(1);
}

.navmenu {
    margin-top: 40px;
    margin-right: 2%;
    float: right;
}

.logo {
    padding: 0;
    display: inline;
    width: 100px;
}

.logo:hover {
    transform: scale(1.15);
    transition: all 0.3 ease;
}

.navbar {
    min-height: 60px;
    align-items: center;
    top: 0;
    left: 0;
    /* display: flex; */
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    /* color: whitesmoke; */
    background-color: #fff;
    /* opacity: 0.9; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    height: 3px;
    width: 30px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primaryColor);
    border-radius: 60px;
}

/* navbar ends */

/* page css start*/

html.dark-mode {
    filter: invert(100%);
}

html.dark-mode img {
    filter: invert(100%);
}

html.dark-mode footer{
    filter: invert(100%);
}

html.dark-mode .bar{
    background-color: #f1f1f1;
    filter: invert(100%);
}

html.dark-mode .navbar {
    filter: invert(100%);
    background-color: var(--secondaryColor);
}


.about-text {
    margin: 85px;
    margin-top: 160px;
}

.about-heading {
    text-align: center;
    font-size: 2.5vw;
}

.underline-h {
    display: block;
    height: 2px;
    width: 130px;
    margin: 15px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primaryColor);
}

.mision-vision {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-areas: 
    "mision vision";
    gap: 30px;
}

.mision {
    grid-area: mision;
    margin: 50px 0px 50px 85px;
    max-width: 40vw;
}

.vision {
    grid-area: vision;
    margin: 50px 85px 50px 0px;
    margin-left: auto;
    max-width: 40vw;
}



/* page css ends */

/* loader start */



/* loader end */

/* footer logo */

#logo {
    display: inline;
    width: 180px;
    margin-left: 15%;
}

#logo:hover {
    transform: scale(1.15);
    transition: all 0.3 ease;
}

/* Top button starts */

#topbtn {
    visibility: hidden;
    text-decoration: none;
    font-size: medium;
    color: white;
    background-color: var(--primaryColor);
    border-radius: 35px;
    padding: 17px;
    float: right;
    text-align: center;
    border: 0px solid black;
    font-weight: normal;
    margin-right: 10px;
    margin-bottom: 10px;
    position: fixed;
    top: 10;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

/* Top button ends */

/* whatsapp btn */

#whabtn {
    position: fixed;
    top: 10;
    bottom: 0;
    right: 0;
    width: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    z-index: 1000;
}

/* scrollbar settings */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondaryColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Footer config starts */

.footer {
    display: flex;
    background-color: var(--secondaryColor);
}

.footer-item-links {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    text-transform: capitalize;
    background-color: transparent;
    align-content: center;
    text-align: left;
    text-decoration: none;
    /* border: 2px red solid; */
}

.footer-item-links a {
    color: #fff;
}

.footer div {
    float: left;
    margin: 20px 0px 20px 0px;
    width: 33.33%;
}

.bottom-links a:hover {
    text-decoration: underline;
}

.address {
    color: #fff;
    margin-bottom: 15px;
}

#address {
    margin-left: 10px;
    margin-top: 15px;
    width: 85%;
    /* border: 2px red solid; */
}

.info {
    color: #fff;
}

.info div {
    width: 80%;
}

#mail {
    margin-left: 10px;
    margin-top: 20px;
    /* border: 2px red solid; */
}

#phone {
    margin-left: 10px;
    width: 80%;
    text-align: left;
    /* border: 2px red solid; */
}

.fa {
    font-size: 24px;
    color: #fff;
    margin: 10px 10px 10px 0px;
}


.in {
    color: #fff;
    margin: 10px;
}

.copyr {
    width: 100vw;
    background-color: rgb(20, 20, 62);
}

.copy-text {
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.footer h3 {
    margin-top: 30px;
    color: #fff;
    text-transform: uppercase;
    /* border: 2px red solid; */
}

/* Footer config ends */

/* Mobile */

@media screen and (min-width: 1380px) {
    .about-heading {
        font-size: 40px;
    }

    .underline-h {
        width: 230px;
    }

}

@media screen and (max-width: 1100px) {
    .about-text {
        margin-left: 60px;
        margin-right: 60px;
    }

    .mision {
        margin-left: 60px;
    }

    .vision {
        margin-right: 60px;
    }

    .mision-vision {
        gap: 0;
    }
}

@media screen and (max-width: 965px) {
    .about-heading {
        font-size: 30px;
    }

    .about-text {
        margin-top: 125px;
    }
}

@media screen and (max-width: 858px) {
    body {
        text-align: justify;
    }

    ul li a {
        display: inline;
        position: relative;
        align-content: right;
        text-decoration: none;
        padding: 15px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--primaryColor);
        text-transform: capitalize;
        transition: 0.5s;
    }

    .navbar {
        /* background-color: transparent; */
        height: 100px;
        border-bottom-right-radius: 22% 12%;
        border-bottom-left-radius: 22% 12%;
    }

    .navbar ul:hover li a {
        transform: scale(0.6);
        opacity: 1;
        filter: none;
    }

    .navbar ul li a:hover {
        transform: scale(1);
        opacity: 1;
        filter: none;
        text-decoration: none;
        color: #fff;
    }

    .navbar ul li a:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primaryColor);
        border-radius: 0px;
        transition: 0.1s;
        transform-origin: none;
        transform: scaleX(0);
        z-index: -1;
    }

    .navbar ul li a:hover:before {
        transition: transform 0.5s;
        transform: scaleX(1);
    }

    .navmenu {
        margin-top: 40px;
        /* 40px to show full logo */
        margin-right: 2%;
        float: right;
    }

    .hamburguer {
        display: inline;
        float: right;
        margin: 40px;
        background-color: transparent;
        transform: translateY(-20px);
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navmenu {
        position: fixed;
        left: 0px;
        top: -200%;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: 87%;
        text-align: center;
        transition: 0.2s;
        border-bottom-right-radius: 29% 9%;
        border-bottom-left-radius: 29% 9%;
        z-index: -2;
    }

    .nav-item {
        margin: 45px 0;
        font-weight: 600;
    }

    .navmenu.active {
        top: 49px;
        z-index: -2;
    }

    .logo {
        position: fixed;
        top: 10px;
        margin: 0%;
        width: 85px;
        max-width: 100px;
    }

    .images {
        display: grid;
        justify-content: center;
        width: 325px;
    }

    .bottom-links {
        margin: 20px;
        float: left;
    }

    .footer-item-links {
        text-align: left;
    }

    .footer-item-links:hover {
        text-decoration: underline;
    }

    .bottom-links a {
        padding-left: 0px;
    }

    .footer {
        margin-top: 80px;
        width: 100%;
        display: flex;
        text-align: left;
        display: grid;
        grid-template-columns: auto;
    }

    .footer div {
        display: grid;
        grid-template-columns: auto;
        width: auto;
        margin-right: auto;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    #topbtn {
        font-size: small;
        padding: 13px;
        margin-bottom: 15px;
    }

    #whabtn {
        width: 45px;
        margin-bottom: 10px;
    }

    .info {
        display: inline;
    }

    #address {
        margin-bottom: 30px;
    }

    #phone {
        margin-top: 10px;
        width: 100%;
    }

    #logo {
        translate: -40px;
        width: 225px;
        margin: 15px;
    }

    .about-text {
        margin-left: 20px;
        margin-right: 20px;
    }

    .mision-vision {
        grid-template-areas: 
        "mision"
        "vision";
        gap: 0;
    }

    .mision-vision div {
        max-width: 100vw;
        margin: 20px;
        margin-bottom: 0px;
    }

    .mision-vision h2 {
        display: grid;
        justify-content: center;
    }
}

/* navbar responsive */

@media screen and (max-height: 630px) and (max-width: 858px) {
    .nav-item {
        margin: 36px 0px;
    }
}

@media screen and (max-height: 500px) and (max-width: 858px) {
    .nav-item {
        margin: 26px 0px;
    }
}

@media screen and (max-height: 430px) and (max-width: 858px) {
    .nav-item {
        margin: 16px 0px;
    }
}

@media screen and (min-height: 730px) and (max-width: 858px) {
    .nav-item {
        margin: 55px 0px;
    }
}